@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#slider-1 H1 {
  text-align: center;
}
#contacts1-3 P {
  text-align: center;
}
#footer1-4 P {
  text-align: center;
}

#ext_menu-5 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-5.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-5 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-5 .mbr-navbar__hamburger {
  color: #ffffff;
}
#form1-8 .mbr-header__text {
  font-family: 'Open Sans', sans-serif;
}
#contacts1-6 P {
  text-align: center;
}
#footer1-7 P {
  text-align: center;
}
#ext_menu-9 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-9.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-9 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-9 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box3-c .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-c .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-c .mbr-article UL {
  text-align: center;
}
#msg-box3-c .mbr-article P {
  text-align: center;
}
#contacts1-a P {
  text-align: center;
}
#footer1-b P {
  text-align: center;
}
#ext_menu-d .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-d.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-d .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-d .mbr-navbar__hamburger {
  color: #ffffff;
}
#features1-i P {
  text-align: center;
}
#content1-g DIV {
  text-align: center;
}
#contacts1-e P {
  text-align: center;
}
#footer1-f P {
  text-align: center;
}
#ext_menu-m .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-m.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-m .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-m .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-n P {
  text-align: center;
}
#footer1-o P {
  text-align: center;
}
#ext_menu-p .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-p.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-p .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-p .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-q P {
  text-align: center;
}
#footer1-r P {
  text-align: center;
}
#ext_menu-s .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-s.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-s .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-s .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-t P {
  text-align: center;
}
#footer1-u P {
  text-align: center;
}
#ext_menu-v .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-v.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-v .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-v .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-w P {
  text-align: center;
}
#footer1-x P {
  text-align: center;
}
#ext_menu-13 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-13.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-13 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-13 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-15 P {
  text-align: center;
}
#footer1-16 P {
  text-align: center;
}
